body {
  padding: 0;
  margin: 0;
  font-family: cursive;
}
.bg {
  background-image: url(../images/clouds-country.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
  width: 50%;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 0;
}
.container {
  max-width: 50%;
  padding: 5rem;
  box-sizing: border-box;
  font-family: serif;
  font-size: 20px;
  line-height: 2em;
  color: #555;
}

h1,
h2 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: brown;
  font-weight: normal;
}

cite {
  font-style: inherit;
  background-color: #eee;
  font-style: italic;
  color: #777;
}
